{%extends "layout.html"%}


{% load static %}

{%block content %}
<style>
  .about1{
    background-color: #31A5EA;
    
  }
</style>

    <div class="about1">
      <div>
    
        <h3 style="        font-family: 'system-ui';
                                    font-style: normal;
                                    font-weight: 700;
                                    font-size: 31px;
                                    line-height: 38px;
                                    text-align: center;
    
                                    color: #FFFFFF;">The place where our<br />
                                    office located  </h3>

                                    <div style="align-items: center;">
                                      <img style="padding-left: 30px;" src="{% static 'map3.png' %}" alt="Image 1" />
                                    </div>


                                    </div>
                                    </div>

{%endblock%}


