<!DOCTYPE html>
<html lang="en" dir="ltr">
 
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/true.css' %}">
    <script type="text/javascript" src="{% static 'js/true.js'%}"></script>
    
    

  

  <body>
    <header>
      <div class="container" id="myTopnav">  
     
          
          <strong>
            
            <nav >
              
                    <div class="group1">
                                    <img src="{% static 'Group 1.png' %}" alt="logo" >
                                
                                  </div>
              
              
              <ul class="menu">
                <li id="homeblue"> <a href='/home_view/' >Home</a></li>
                <li> <a href='/services/'>Services</a></li>              
                <li> <a href='/myapp/destination/'>Products</a></li>
                <li> <a href='/about/'>About Us</a></li>
                <li id="border"> <a href='/contact/'>Contact Us</a></li>
                <li><a href="javascript:void(0);" class="icon" onclick="myFunction()">
                  <i class="fa fa-bars"></i>
                </a></li>

                <!-- <li> <a href='/login/'>login</a></li> -->

              </ul>
             
            </nav>
            
            </strong>
      </div>
   

    </header>

    <div  class="container" style="display: flex; flex-direction: column;">
    <div>{% block content %}
      {% endblock %}</div>
     
      

      

      

      

     

    </div>


  </body>
</html>
